name: Renovate
on:
  schedule:
    - cron: '0/15 * * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v32.63.1
        with:
          configurationFile: renovate/renovate-config.js
          token: ${{ secrets.TECH_SERVICES_GITHUB_TOKEN }}
