name: Renovate
on:
  schedule:
    - cron: '0 2 * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.1.0
        with:
          configurationFile: renovate/renovate-config.js
          token: ${{ secrets.TECH_SERVICES_GITHUB_TOKEN }}
